{% extends 'base.html' %}

{% block content %}


    <h5 class="container-sm d-flex justify-content-center">
        About this website
    </h5>
    <br>
    <br>
    <div class="container">
        <p>This website has the purpose of showcasing different projects I've worked on, specially related to machine
        learning, Python and Django.</p>
        <p>It is not very pretty, but I intend to keep good programming practices and interesting enough applications
        to display as a portfolio of sorts. It has been a very fun project to hone my skills, and hopefully I'll
        keep updating it. I might even put it in production one day!</p>
        <p>Eventually I'd like to learn a better front-end technology to make it look more modern and work better,
        but my current interests align more with writing back-end related code, ETL pipelines, machine learning
        and computer vision models, among other things.</p>
        <p>If you would like to contact me, feel free to do so through LinkedIn or GitHub.</p>
    </div>
{% endblock content %}