{% extends 'base.html' %}

{% block content %}


    <h5 class="container-sm d-flex justify-content-center">
        Welcome!
    </h5>
    <br>
    <br>

    {% if object_list %}
    <div class="d-flex justify-content-center">
        <table style="width:600px;">
            {% for card in object_list %}
                {% cycle '<tr>' ' ' as open_tag silent%}
                {% cycle ' ' '</tr>' as closing_tag silent%}
                {{open_tag}}
                    <td style="width: 50%">
                        <div class="card" style="width: 18rem; height: 15rem;">
                          <div class="card-body">
                            <h5 class="card-title">{{card.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{card.date}}</h6>
                            <p class="card-text">{{card.body_short|safe}}</p>
                              {% if card.url %}
                                <a href="{{card.url}}" class="card-link">{{card.url_verbose}}</a>
                              {% endif %}
                              {% if card.internal_url %}
                                <a href="{% url card.internal_url %}" class="card-link">{{card.internal_url_verbose}}</a>
                              {% endif %}
                              <a href="{% url 'home_card' card.slug %}" class="card-link">Read more</a>
                          </div>
                        </div>
                    <br>
                    </td>
                {{closing_tag}}
            {% endfor %}
        </table>
        {% else %}
        <h4>Check out our cool features!</h4>
        {% endif %}
    </div>
    <br>
{% endblock content %}